@import url("/src/assets/css/header2.css");
@import url("/src/assets/css/login2.css");
@import url("/src/assets/css/fix.css");
@import url("/src/assets/css/maincard.css");
@import url("/src/assets/css/homepage2.css");

#RegisterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#RegisterBtn img {
  width: 2rem;
}
.event .login2Box__title {
  display: block;
}
.event .login2Box__body {
  padding-top: 2rem;
}

.searchButton_Pincode{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.35rem 1.5rem;
  font-size: -0.5rem;
  background: #efefef00;
  border: none;
  color: #015189;
  font-size: 1.15rem;
  cursor: pointer;
}