.left__part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myprofile .modalBox__header {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: #aeaeae;
  border-radius: 0 !important;
}
.myprofile .modalBox__title {
  margin-left: 1rem;
}
.myprofile .profile__user::after {
  display: none;
}
.myprofile .modalBox__body {
  background-color: #f7f7f8;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem !important;
  border-radius: 0 !important;
}
.profile__cont {
  width: 80%;
}
/* .PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 0.35em;
}
.PhoneInput {
  display: flex;
  align-items: center;
}
.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}
.PhoneInputCountryIcon {
  width: calc(
    var(--PhoneInputCountryFlag-height) *
      var(--PhoneInputCountryFlag-aspectRatio)
  );
  height: var(--PhoneInputCountryFlag-height);
} */
.form-control input[type="tel"] {
  border: none;
  outline: none;
}
/* .save__btn {
  background: linear-gradient(to bottom, #1597cf, #1597cf) !important;
  border: #1597cf;
  transition: 0.3s ease-in;
}
.save__btn:hover {
  background: #f7f7f8 !important;
  color: #1597cf;
} */
.myprofile label {
  display: inline-block;
  margin-bottom: 0.75rem !important;
}
@media (max-width: 500px) {
  .profile__cont {
    width: 100%;
  }
}
.save__btn {
  text-align: center;
  display: flex;
  justify-content: center;
}
.profile-selector {
  display: none;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.profile-selector > :first-child,
.profile-selector > :last-child {
  cursor: pointer;
}
.profile-selector > .profile-selected {
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  padding-bottom: 5px;
}
.doctor-profile-container {
  position: relative;
  padding: 2rem 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 0.625rem;
}
.doctor-profile-container > .doctor-profile-verify-text {
  position: absolute;
  top: -10px;
  left: 1rem;
  padding: 0 0.3rem;
  user-select: none;
  color: #015189;
  border-radius: 2px;
  background-color: #f7f7f8;
}
.doctor-profile-container > .doctor-profile-verify-btn {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  color: #015189;
  text-decoration: underline;
  cursor: pointer;
}
.doctor-profile-container > .doctor-profile-verify-btn:hover {
  text-decoration: none;
}
/* @media only screen and (max-width: 768px) {
  .profile-selector {
    display: flex;
  }
  .myprofile .modalBox__body {
    padding-top: 1rem !important;
  }
  .background-black {
    background-color: #000 !important;
    color: #fff !important;
  }
  .background-black select {
    background-color: #000;
    color: #fff;
    width: 100%;
  }
  .background-black input[type="tel"] {
    color: #fff;
    background-color: #000;
  }
  .background-black::after {
    display: none;
  }
} */
