@import url("/src/assets/css/header2.css");
@import url("/src/assets/css/login2.css");
@import url("/src/assets/css/modal.css");
@import url("/src/assets/css/maincard.css");
@import url("/src/assets/css/videodetail.css");
@import url("/src/assets/css/homepage2.css");
.eventBox__video {
    background: #000;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 990px) {
    .middle-In-mobile {
        justify-content: center;
    }
}