.hello {
  min-height: 500px;
}

.starParent {
  padding: 0.7rem 0.7rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  background: #f9f9f938;
  display: flex;
  justify-content: center;
}
.dsk {
  margin-right: 0rem !important;
  width: 70% !important;
}
.dsk-like {
  flex-direction: column;
  align-items: flex-start !important;
}
.btns-div {
  display: flex;
  margin-top: 1rem;
}
.btns-div button {
  margin-right: 1rem;
}
