@import url("/src/assets/css/header2.css");
/* @import url("/src/assets/css/global.css");
@import url("/src/assets/css/footer.css");
@import url("/src/assets/css/icons.css"); */

/* @import url("/src/assets/css/topics.css"); */

@import url("/src/assets/css/modal.css");
@import url("/src/assets/css/maincard.css");
@import url("/src/assets/css/videodetail.css");
@import url("/src/assets/css/homepage2.css");
body {
  background: #2d2d37;
}

#homePageConatiner a {
  /* color: white; */
  text-decoration: none;
}

.arrow {
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 47%;
  z-index: 1;
  font-size: 2rem;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.whiteColor {
  color: white;
}

.slick-track {
  margin-left: unset !important;
}

.videoElementLoader .container-loader {
  width: 5rem;
  height: 5rem;
  background: #eee;
  background: linear-gradient(
    110deg,
    #f80000 8%,
    #f5f5f5 18%,
    #ececec 33%
  ) !important;
  background-size: 200% 100%;
  animation: 1.5s shine forwards infinite;
}

#homeVideoContainer .container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: unset;
}

#homeVideoContainer .slider-btn {
  color: #fff;
}

.slider-video .slider-btn {
  padding: 2rem 0rem;
  position: absolute;
  left: -1rem;
  font-size: 2rem;
  color: #fff;
  top: 45%;
  margin-top: -3.5rem;
  z-index: 1;
  opacity: 0.75;
  transition: 0.25s;
}

.slider-video .slider-btn:hover {
  opacity: 1;
}

.slider-video .slider-btn.slider-btn-next {
  left: auto;
  right: -1rem;
}

.slider-video .slider-btn.slick-disabled {
  opacity: 0.2;
  cursor: auto;
  opacity: 0;
}

.slider-video .slick-disable {
  opacity: 0;
}

.slider-video .slick-list {
  overflow: visible !important;
}

@keyframes shine {
  0% {
    background-position-x: 1000%;
  }
  100% {
    background-position-x: -1000%;
  }
}

.videoModalBox {
  padding: 0 !important;
}

/* .videodetailBox .like-btn {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    border: medium none;
    text-decoration: none;
    border: 1px solid #A6A6A6;
    color: #A6A6A6;
    border-radius: 0.625rem;
    background: #000;
} */

.modalBox__overlay {
  backdrop-filter: blur(4px);
}

#homePageConatiner {
  background: black;
}

#homePageConatiner .headerBox--full .container {
  max-width: unset;
  padding: 0rem 5rem;
  /* background: black; */
}

#homePageConatiner .headerBox_sticky {
  background: linear-gradient(
    90deg,
    #000000cc 0%,
    rgb(0 0 0 / 73%) 72.82%,
    rgb(0 0 0 / 0%) 129.25%
  ) !important;
}

.videoModalBox .maincardBox__card-profile-popover {
  background: #212121;
  border: 0.1rem solid #909090;
}

.videoModalBox .maincardBox__card-profile-popover-title {
  color: #fff !important;
  font-weight: 700;
}

.videoModalBox .maincardBox__card-profile-popover-close {
  background: rgba(0, 0, 0, 0.685);
}

.videoModalBox .maincardBox__card-profile-popover-desc {
  color: rgba(255, 255, 255, 0.603);
}

.videoModalBox .star-ratings {
  margin-bottom: 0rem;
}

.likeBtnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-row-gap: 1rem;
  grid-template-rows: 1fr 1fr;
}
.btns-div button {
  margin-left: 0;
}
@media (max-width: 1000px) {
  .likeBtnContainer {
    width: 100%;
  }
  .btns-div button {
    margin-left: 1rem;
    width: 100% !important;
  }
  .like-btn {
    width: auto;
  }
}
/* All Mobile Sizes (devices and browser) */

.mobileView_timelineBox {
  display: flex;
  overflow-x: auto;
}

.mobileView_timelineBox .timelineBox-item {
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  min-width: 10rem;
  margin-right: 0.85rem;
}

.mobileView_timelineBox .timelineBox-item > .timelineBox-item-left {
  width: 100%;
}

.mobileView_timelineBox .timelineBox-item > .timelineBox-item-right {
  margin-top: 0.5rem;
  width: 100%;
}

.mobileView_timelineBox .timelineBox-item-right {
  text-align: center;
}

.contentBox__item-title > ul {
  text-transform: uppercase;
}

.contentBox_tag {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1px;
  display: none;
}

.contentBox__item:hover .contentBox_tag {
  display: initial;
}

.tabBox__list_sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 0.85rem;
  margin: 0;
  margin-top: 5.5rem;
  background: black;
  background: linear-gradient(
    90deg,
    #000000cc 0%,
    rgb(0 0 0 / 73%) 72.82%,
    rgb(0 0 0 / 0%) 129.25%
  ) !important;
}

@media only screen and (max-width: 992px) {
  .likeBtnContainer {
    display: flex;
    justify-content: flex-start;
  }
}

/* swal overrides */

.swal-icon--info {
  border-color: #015189;
}

.swal-icon--info:after,
.swal-icon--info:before {
  background-color: #015189;
}

.swal-title {
  font-weight: 700;
  font-size: 1.45rem;
  color: #015189;
}

.swal-text {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.swal-button {
  background-color: #015189;
}

.swal-button:not([disabled]):hover {
  background-color: #fff;
  color: #015189;
}

.swal-button--cancel {
  color: #fff;
}
.swal-button--loading:not([disabled]):hover {
  background: #015189 !important;
}

.swal-icon--success__line {
  background-color: #015189;
}
.swal-icon--success__ring {
  border: 4px solid hsl(205deg 99% 27%);
}

.loaderContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202de;
  z-index: 15;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #015189;
  border-color: #015189 transparent #015189 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
