/* ### header box ### */
.headerBox { padding: 1.55rem 4.5rem; position: absolute; left: 0; top: 0; width: 100%; z-index: 10; }
.headerBox__logo { width: 8.8125rem; display: block; }
.headerBox__logo2 { width: 3.5625rem; display: block; }
.headerBox__logo3 { width: 15.625rem; display: block; }

.headerBox__left { padding-left: 0; display: flex; align-items: center; justify-content: space-between; }
.headerBox__right { padding-right: 28.5rem; display: flex; align-items: center; }
.headerBox__right.headerBox__right--nogap { padding-right: 0; }

.headerBox__right .btn-secondary { margin-right: 0.5rem; padding: 0.75rem 1.25rem; font-weight: 300; border-radius: 40px; min-width: 0; }
.headerBox__right .btn-secondary i { margin-right: 10px;  }

.header-toggle { margin-left: 2.5rem; list-style-type: none; display: flex; align-items: center; border-radius: 1.875rem; font-weight: 500; background: #fff; }
.header-toggle > li > a { padding: 0.375rem 0.75rem; min-width: 5.625rem; line-height: 1.125rem; font-size: 0.9375rem; text-decoration: none; color: #005188; font-weight: 500; text-align: center; display: block; border-radius: 1.875rem; background: transparent; }
.header-toggle > li.active > a { background: #005188; color: #fff; font-size: 0.75rem; font-weight: 400; }

.headerBox__profile {  padding: 0.5rem 0 0.5rem 1rem; position: relative; }
.profile__user { position: relative; display: flex; white-space: nowrap; align-items: center; height: 2.375rem; border-radius: 50%; font-family: 'google_sansmedium'; text-decoration: none; color: #00162A;  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.25)); }
.profile__user > img { display: block; height: 2.375rem; width: 2.375rem; min-height: 2.375rem; min-width: 2.375rem; border-radius: 50%; }
.profile__user::after { position: absolute; margin-left: 8px; left: 100%; top: 50%; content: ""; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 8px solid #5A5A5A; }

.profile__dropdown { padding: 0; opacity: 0; height: 0; overflow: hidden; transition: all 0.3s; margin-top: 1.25rem; width: 20rem; position: absolute; list-style-type: none; right: -0.75rem; top: 100%; border-radius: 0.5rem; box-shadow: 7px 9px 17px rgba(0, 0, 0, 0.25); border-radius: 0.625rem; background: #fff; }
.profile__dropdown:after { content: ""; position: absolute; right: 1rem; bottom: 100%; width: 0; height: 0; border-left: 0.75rem solid transparent;border-right: 0.75rem solid transparent;border-bottom: 1rem solid #fff;}
.profile__dropdown-profile { padding: 1rem; border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 0.5rem; display: flex; align-items: center; text-decoration: none; color: rgba(0, 0, 0, 0.6); line-height: 1rem; }
.profile__dropdown-profile-pic { position: relative; margin-right: 1rem; display: block; width: 2.125rem; height: 2.125rem; border-radius: 50%; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25); }
.profile__dropdown-profile-pic > img { width: 2.125rem; height: 2.125rem; border-radius: 50%; }
.profile__dropdown-profile-pic > i { padding: 3px; font-size: 0.5rem; color: #fff; position: absolute; right: -0.25rem; top: -0.25rem; border-radius: 50%; background: #068BEC; border: 1px solid rgba(6, 139, 236, 0.6); }
.profile__dropdown-profile-title { margin-bottom: 0.25rem; font-size: 0.75rem; font-weight: 400; }
.profile__dropdown-profile-subtitle { font-size: 0.75rem; font-weight: 400; }

.profile__dropdown ul { list-style-type: none; margin-bottom: 0.5rem; }
.profile__dropdown ul > li > a { padding: 1rem 1.5rem; color: rgba(0, 0, 0, 0.6); font-weight: 400; display: block; text-decoration: none; }
.profile__dropdown ul > li > a:hover,
.profile__dropdown ul > li > a.active { background: #00162A; color: #fff; }

.headerBox__profile:hover .profile__dropdown { padding: 0.625rem 0 0; height: auto; opacity: 1; margin-top: 1rem; overflow: visible; }

.notification { padding: 0.5rem; position: relative; }
.notification__btn { display: flex; align-items: center; justify-content: center; font-size: 1.25rem; height: 2.375rem; width: 2.375rem; border-radius: 50%; text-decoration: none; border-radius: 50%; color: #0869A8; border: 1px solid #0869A8; background: #fff; }
.notification__dropdown { padding: 0; opacity: 0; height: 0; overflow: hidden; transition: all 0.3s; margin-top: 1.25rem; width: 20.5rem; position: absolute; list-style-type: none; right: 0; top: 100%; border-radius: 0.5rem; box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.25); background: #fff; }
.notification__dropdown > li > a { padding: 1rem 1.5rem; color: #005188; font-weight: 400; display: block; text-decoration: none; }
.notification__dropdown > li > a:hover,
.notification__dropdown > li > a.active { background: #00162A; color: #fff; }
.notification:hover .notification__dropdown { padding: 0.625rem 0; height: auto; opacity: 1; margin-top: 0; }


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1023px) {
    .headerBox__right { padding-right: 0; }
    .headerBox { padding-left: 1rem; padding-right: 1.5rem; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .headerBox { padding: 1rem; }
    .headerBox__logo3 { width: 10rem; }
    .headerBox__right { display: none; }
    .headerBox__left { justify-content: space-between; width: 100%; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}