/* ### banner box ### */
.slider-banner-desktop { position: relative; z-index: 1; }
.bannerBox { position: relative; }
.bannerBox__inner { position: relative; }
/* .bannerBox__inner { padding: 0 0 20rem 0; position: relative; } */
.bannerBox__inner1::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg.png) center center repeat-x; background-size: auto 100%; }
.bannerBox__inner2::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg2.png) center center repeat-x; background-size: auto 100%; }
.bannerBox__inner3::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg3.png) center center repeat-x; background-size: auto 100%; opacity: 0.5; }
.bannerBox__inner4::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg4.png) center center repeat-x; background-size: auto 100%; }
.bannerBox__inner.bannerBox__inner--small { padding-bottom: 0; }
.bannerBox__inner.bannerBox__inner--small::after { bottom: -2rem; height: 7.5rem; }
.bannerBox__inner.bannerBox__inner--small .bannerBox__slide { padding: 0.5rem 0 2rem; }

.bannerBox.bannerBox--large .bannerBox__inner { padding: 0; }
.bannerBox.bannerBox--large .bannerBox__btn { border-radius: 0.25rem; text-transform: uppercase;}
.bannerBox.bannerBox--large .slider-banner-desktop .bannerBox__slide { min-height: 100vh; background-size: cover; background-position: center center; background-repeat: no-repeat; padding-left: 5rem; padding-bottom: 10rem; }
.bannerBox.bannerBox--large .slider-banner-desktop .bannerBox__slide:after { position: absolute; left: 0; top: 0; content: ""; height: 100%; width: 100%; background: linear-gradient(180deg, #000000 -6.25%, rgba(0, 0, 0, 0) 14.34%, rgba(62, 62, 62, 0) 73.33%, rgba(24, 24, 24, 0.877281) 85.12%, #000000 94.52%), linear-gradient(0deg, rgba(26, 82, 141, 0.5), rgba(26, 82, 141, 0.5)); }
.bannerBox.bannerBox--large { background: #000; }
/* .bannerBox.bannerBox--large .bannerBox__date,
.bannerBox.bannerBox--large .bannerBox__subtitle,
.bannerBox.bannerBox--large .bannerBox__maintitle { color: #fff; } */
.bannerBox.bannerBox--large {}
.bannerSubLogo{ width: 40%; }
.bannerSubLogo .btn{  margin-left: 2rem;}

.bannerBox__slide { padding: 2rem 0 20rem; min-height: 0; display: flex; position: relative; z-index: 2; align-items: center; justify-content: space-between; }
.bannerBox__slide .container { position: relative; z-index: 1; }
.bannerBox__left { width: 43%; }
.bannerBox__right { padding: 0; width: 45%; }
.bannerBox__center { position: absolute; left: 50%; margin-left: -225px; bottom: -320px; width: 640px; }
.bannerBox__title { font-weight: 700; font-size: 2.1875rem; display: flex; align-items: center; color: #FFFFFF; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__maintitle { font-weight: 700; font-size: 2.8125rem; display: flex; align-items: center; color: #fff; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__featired-title { font-size: 2.125rem; font-weight: 700;  color: #0B55A0;}
.bannerBox__featired-title span { font-weight: 400; }
.bannerBox__subtitle { font-weight: 700; font-size: 1.8125rem; display: flex; align-items: center; color: #015189; }
.bannerBox__desc { font-weight: 500; font-size: 1.1725rem; color: #0869A8; }
.bannerBox__date { font-weight: 500; font-size: 1.5625rem; display: flex; align-items: center; color: #0B55A0; }
.bannerBox__date > sup { font-size: 50%; display: inline-block; margin-top: -20px; font-weight: 900; }
.bannerBox__status { display: flex; align-items: center; }

.bannerBox__status-title { padding-right: 0.5rem; font-weight: 700; font-size: 1.1875rem; color: #fff; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__status-mark { padding: 0.5rem 1.5rem 0.5rem 2rem; position: relative; font-weight: 700; font-size: 0.9375rem; color: #FFFFFF; display: inline-block; backdrop-filter: blur(54px); border-radius: 0.625rem; background: rgba(0, 0, 0, 0.6); }

.bannerBox__status-mark:after { position: absolute; left: 0.5rem; top: 50%; margin-top: -0.375rem; height: 0.75rem; width: 0.75rem; border-radius: 50%; content: ""; background: #EE2E2E;; }
.bannerBox__btn { font-weight: 700; font-size: 1.1875rem; }
.bannerBox__pic { margin: 0 auto; max-width: 33.125rem; width: 100%; }
.bannerBox__profile { margin-bottom: 0.5rem; display: flex; align-items: center; text-decoration: none; color: #0B55A0; line-height: 2rem; }
.bannerBox__profile-pic { margin-right: 2rem; display: block; width: 2.125rem; height: 2.125rem; border-radius: 50%; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25); }
.bannerBox__profile-title { margin-bottom: 0.25rem; font-size: 0.75rem; font-weight: 400; }
.bannerBox__profile-subtitle { font-size: 0.75rem; font-weight: 400; }

.slider-banner-desktop .slick-dots { bottom: 12rem; }
.slider-banner-desktop .slick-dots li { width: auto; }
.slider-banner-desktop .slick-dots li button { margin: 0; transition: all 0.3s; margin-bottom: 0.375rem; height: 10px; width: 10px; opacity: 1; background: rgba(255, 255, 255, 0.33); border: 2px solid rgba(255, 255, 255, 0.33); border-radius: 2rem; }
.slider-banner-desktop .slick-dots li.slick-active button { width: 30px; transform: scale(1); background: #fff; }
.slider-banner-desktop .slick-dots li button:before { display: none; }

.slider-banner-desktop .slider-btn { padding: 2rem; position: absolute; left: 2rem; font-size: 2rem; color: #fff; top: 45%; margin-top: -3.5rem; z-index: 1;  }
.slider-banner-desktop .slider-btn:hover { opacity: 0.8; }
.slider-banner-desktop .slider-btn.slider-btn-next { left: auto; right: 2rem; }
.slider-banner-desktop .slider-btn.slick-disabled { opacity: 0.2; cursor: auto; opacity: 0; }


.slick-dotted.slick-slider { margin-bottom: 0; }
.slider-banner-desktop .bannerBox__slide { padding: 8rem 0 2rem; }
/* .slider-banner-desktop .bannerBox__slide { padding: 12rem 8rem 1rem; } */

/* ### tab Box ### */
.tabBox { margin: -0.5rem 0 0 0; position: relative; padding: 4rem 0rem 5rem; z-index: 1;  background: #000;
    /* max-width: 1680px; */
}
.tabBox.tabBox--new { margin-top: -25rem; }
.tabBox.tabBox--new .maincardBox { display: block; }
.tabBox.tabBox--new .maincardBox__card-wrapper { max-width: 100%; height: auto; }
.tabBox__list { padding: 2rem; margin: -10.25rem 0 2rem 2rem; list-style-type: none; text-align: center; white-space: 'break-spaces'; overflow: hidden}
.tabBox__list  li { display: inline; color: #005188; font-weight: 700; font-size: 0.9375rem; cursor: pointer;outline: none; margin-right:2rem;}
/* .tabBox__list > li > a { padding: 0.375rem 1.25rem; margin: 0 1rem; font-weight: 400; min-width: 7rem; display: inline-block; text-decoration: none; color: #9D9D9D; background: rgba(255, 255, 255, 0.4); border: 1px solid rgba(0, 0, 0, 0.25); box-sizing: border-box; backdrop-filter: blur(54px); border-radius: 10px; } */

.tabBox__list  li > a { padding: 0.875rem 1.5rem; font-weight: 400; min-width: 7.5rem; display: inline-block; text-decoration: none; color: #fff; border: 1px solid #30C1FF; 
    /* background: linear-gradient(180deg, #30C1FF 0%, #1597CF 100%), #25B9D3; */
     backdrop-filter: blur(54px); box-sizing: border-box; border-radius: 2rem;width: max-content; }
.tabBox__list  li > a.active,
.tabBox__list  li.active > a,.tabBox__list  li > a:hover { background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #30C1FF 0%, #1597CF 100%), #25B9D3; border-color: #2D5D65; }

/* ### content Box ### */
.contentBox { padding: 0; }
.contentBox .splide__track { overflow: visible; }
.contentBox__title { padding: 1.15rem 0 0.75rem; font-size: 1.125rem; font-weight: 700; color: #fff; }
.contentBox__list-wrapper { margin-bottom: 2rem; overflow: auto; }
.contentBox__list { white-space: nowrap; }
.contentBox__item-wrapper { display: flex; }
.contentBox__item { margin-bottom: 15px; height: 14rem; width: 20rem; transition: all 0.5s; display: block; cursor: pointer; position: relative; display: inline-block; white-space: normal; border-radius: 0.625rem; background-position: center center; background-size: cover}
.contentBox__item:after { content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) -10.09%, rgba(0, 0, 0, 0.15) 42.08%); border-radius: 0.625rem;}
/* .contentBox__item-title { position: absolute; text-decoration: none; left: 0; bottom: 0; padding: 1rem; font-weight: 700; font-size: 1.125rem; line-height: 1.375rem; color: #fff; z-index: 1; }
.contentBox__item-title:hover { text-decoration: underline; } */
.contentBox__item-title {transition: all 0.25s; position: absolute; text-decoration: none; border-radius: 0 0 0.625rem 0.625rem; left: 0; bottom: 0; padding: 2rem; font-weight: 600; font-size: 1.125rem; line-height: 1.375rem; color: #fff; z-index: 1; background: rgba(0, 81, 136, 0.6); width: 100%; }
.contentBox__item-title:hover {  }
.contentBox__item-title.contentBox__item-title--pink { background: rgba(206,85,108,0.6); }
.contentBox__item-title.contentBox__item-title--orange { background: hsl(174deg 100% 29% / 70%); }
.contentBox__item-title > ul { transition: all 0.25s; list-style-type: none; display: flex; flex-wrap: wrap; display: none; }
.contentBox__item-title > ul > li { padding: 2rem 0 0; padding-right: 2rem; font-size: 0.75rem; color: #fff; font-weight: 400; }

.contentBox__item-pic { width: 100%; border-radius: 0.625rem; }
.contentBox__item-plus { position: absolute; right: 0; top: 0; font-size: 1.125rem; padding: 2rem; display: block; cursor: pointer; color: #fff; text-decoration: none; z-index: 1; }
.contentBox__item-plus:hover { color: #172c3a; }
.contentBox__item-play { position: absolute; transition: all 0.3s; font-size: 1.25rem; margin: -0.625rem 0 0 -0.625rem; opacity: 0; left: 50%; top: 25%; color: #fff; text-decoration: none; z-index: 1;  transform: scale(0.3)rotate(180deg);}
.contentBox__item:hover { transform: scale(1.25); z-index: 5; position: relative; box-shadow: 0px 0px 5px 1px #cdcdcdc9;}
.contentBox__item:hover .contentBox__item-play { opacity: 1; font-size: 1.8rem;  transform: scale(1)rotate(0deg);}
@keyframes playIcon{
    0%{
        transform: scale(0.3)rotate(-270deg);
    }
    100%{
        transform: scale(1)rotate(0deg);
    }
}
/* .contentBox__item:hover .contentBox__item-title {transition: all 0.1s;} */
.contentBox__item:hover .contentBox__item-title > ul { display: flex; }

.contentBox__item .maincardBox__card-menu { right: 2rem; top: 0.75rem; cursor: pointer; }
.contentBox__item .maincardBox__card-menu-btn { color: #fff; }
.contentBox__item .maincardBox__card-menu-dropdown { min-width: 8rem; }
.contentBox__item .maincardBox__card-menu-dropdown > li > a { font-size: 0.625rem; }

.contentBox__item .custom-slider { padding: 0 0rem; position: absolute; left: 0; bottom: 0; width: 100%; z-index: 1;  border-bottom-left-radius: 3.25rem; border-bottom-right-radius: 3.25rem;}
.contentBox__item .custom-slider__bar { height: 6px; border-radius: 0.625rem; background: rgba(0, 0, 0, 0.4); backdrop-filter: blur(66.7059px);  border-bottom-left-radius: 3.25rem; border-bottom-right-radius: 3.25rem;}
.contentBox__item .custom-slider__bar-inner { border-radius: 0.625rem; background: #2F9DDB;  border-bottom-left-radius: 3.25rem; border-bottom-right-radius: 3.25rem;}

/* .slider-horizontal .slick-prev, 
.slider-horizontal .slick-next { display: none !important; } */
.slider-horizontal .slick-list { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.slider-horizontal .slick-list { margin: 0 -15px; }
.slider-horizontal .slick-slide { margin: 0 15px; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
    /* .contentBox, 
    .slider-banner-desktop .bannerBox__slide { padding-right: 2rem; padding-left: 2rem; } */
    .bannerBox__left,
    .bannerBox__right { width: 50%; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1023px) {
    .tabBox.tabBox--new .maincardBox__card-wrapper { max-width: 100%; }
    .bannerBox__center { margin-left: -150px; bottom: -220px; width: 500px; }
    .bannerSubLogo{ width: 100%; }
    /* .contentBox, 
    .tabBox.tabBox--new .maincardBox,
    .bannerBox__slide, 
    .slider-banner-desktop .bannerBox__slide { padding-left: 1rem; padding-right: 1rem; } */
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
    .bannerBox__inner.bannerBox__inner--small { min-height: auto; }
    .bannerBox__center { margin-left: auto; margin-right: auto; bottom: -340px; width: 320px; max-width: 375px; left: 10%; }
    .bannerBox__slide { padding: 8rem 2rem 2rem; flex-direction: column; text-align: center; justify-content: center; }
    .bannerBox__slide > .container-small > .d-flex,
    .bannerBox__slide > .container > .d-flex { flex-direction: column; text-align: center; }
    .bannerBox__date, .bannerBox__subtitle { display: block; }
    .bannerBox__left { padding-bottom: 0rem; order: 2; text-align: center; width: 100%; }
    .bannerBox__inner { min-height: 53rem; padding-bottom: 15rem; }
    .bannerBox__inner::after { height: 12.5rem; }
    .bannerBox__right { padding-bottom: 2rem; order: 1; width: 100%; }
    .splide__slide img { max-width: 23rem; }
    .contentBox__item { margin-right: 2rem; }
    .bannerBox__pic { margin: 0; }
    .tabBox { padding-top: 0; margin-top: 0; padding-bottom: 2rem; }
    .tabBox__list { margin: -6.25rem 0 0rem -1rem;padding: 2rem 1rem;}
    .slick-dotted.slick-slider { margin-bottom: 0; }
    .tabBox.tabBox--new { margin-top: -12rem; }
    .maincardBox__card.maincardBox__card--large .maincardBox__card-right { padding-right: 0; }
    /*  border-top: 1px solid rgba(0, 0, 0, 0.33); */
    .rating-block { padding: 0 0 0; margin: 1.5rem 0; position: static; width: 100%; border: none;  justify-content: flex-end;}
    /* display: flex; */
    .slider-banner-desktop .bannerBox__slide { padding-top: 8rem; }
    .bannerBox__status { justify-content: center; }
    .bannerBox__profile { justify-content: center; text-align: left; }
    
    .bannerBox.bannerBox--large .slider-banner-desktop .bannerBox__slide { padding-left: 0; }
    .slider-banner-desktop .slick-dots { bottom: 4rem; }
}
@media only screen and (max-width: 640px) {
    .tabBox__list {
        margin: -23.25rem 0 0rem -1rem;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
     .bannerSubLogo .btn{
        margin-left: 0;
    }
    .tabBox__list {
        margin: -8.25rem 0 0rem -1rem;
    }
}
@media only screen and (max-width: 320px) {
    .tabBox__list { margin: -11.25rem 0 2rem -1rem;}
   
}