/* ### banner box ### */
.slider-banner-desktop { position: relative; z-index: 1; }
.bannerBox__inner { padding: 0 0 20rem 0; position: relative; }
.bannerBox__inner1::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg.png) center center repeat-x; background-size: auto 100%; }
.bannerBox__inner2::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg2.png) center center repeat-x; background-size: auto 100%; }
.bannerBox__inner3::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg3.png) center center repeat-x; background-size: auto 100%; opacity: 0.5; }

.bannerBox__slide { padding: 8rem 4.5rem 1rem; min-height: 0; display: flex; position: relative; z-index: 2; align-items: center; justify-content: space-between; }
.bannerBox__left { width: 43%; }
.bannerBox__right { padding: 0; width: 45%; }
.bannerBox__center { position: absolute; left: 50%; margin-left: -225px; bottom: -320px; width: 640px; }
.bannerBox__title { font-weight: 700; font-size: 2.1875rem; display: flex; align-items: center; color: #FFFFFF; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__maintitle { font-weight: 700; font-size: 2.8125rem; display: flex; align-items: center; color: #fff; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__featired-title { font-size: 2.125rem; font-weight: 700;  color: #0B55A0;}
.bannerBox__featired-title span { font-weight: 400; }
.bannerBox__subtitle { font-weight: 700; font-size: 1.875rem; display: flex; align-items: center; color: #0B55A0; }
.bannerBox__date { font-weight: 700; font-size: 1.875rem; display: flex; align-items: center; color: #0B55A0; }
.bannerBox__date > sup { font-size: 50%; display: inline-block; margin-top: -20px; font-weight: 900; }
.bannerBox__status { display: flex; align-items: center; }
.bannerBox__status-title { padding-right: 0.5rem; font-weight: 700; font-size: 1.1875rem; color: #015189; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__status-mark { padding: 0.5rem 1.5rem 0.5rem 2rem; position: relative; font-weight: 700; font-size: 0.9375rem; color: #FFFFFF; display: inline-block; backdrop-filter: blur(54px); border-radius: 0.625rem; background: rgba(0, 0, 0, 0.3); }
.bannerBox__status-mark:after { position: absolute; left: 0.5rem; top: 50%; margin-top: -0.375rem; height: 0.75rem; width: 0.75rem; border-radius: 50%; content: ""; background: #EE2E2E;; }
.bannerBox__btn { font-weight: 700; font-size: 1.1875rem; }
.bannerBox__pic { margin: 0 auto; max-width: 33.125rem; width: 100%; }
.bannerBox__profile { margin-bottom: 0.5rem; display: flex; align-items: center; text-decoration: none; color: #0B55A0; line-height: 1rem; }
.bannerBox__profile-pic { margin-right: 1rem; display: block; width: 2.125rem; height: 2.125rem; border-radius: 50%; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25); }
.bannerBox__profile-title { margin-bottom: 0.25rem; font-size: 0.75rem; font-weight: 400; }
.bannerBox__profile-subtitle { font-size: 0.75rem; font-weight: 400; }

.slider-banner-desktop .slick-dots { bottom: 12rem; }
.slider-banner-desktop .slick-dots li { width: auto; }
.slider-banner-desktop .slick-dots li button { margin: 0; transition: all 0.3s; margin-bottom: 0.375rem; height: 10px; width: 10px; opacity: 1; background: rgba(8, 105, 168, 0.73); border: 2px solid rgba(8, 105, 168, 0.73); border-radius: 1rem; }
.slider-banner-desktop .slick-dots li.slick-active button { width: 30px; transform: scale(1); background: #fff; }
.slider-banner-desktop .slick-dots li button:before { display: none; }

.slider-banner-desktop .slider-btn { padding: 2rem; position: absolute; left: 1rem; font-size: 3rem; color: #0869A8; top: 45%; margin-top: -3.5rem; z-index: 1; }
.slider-banner-desktop .slider-btn:hover { opacity: 0.8; }
.slider-banner-desktop .slider-btn.slider-btn-next { left: auto; right: 1rem; }
.slider-banner-desktop .slider-btn.slick-disabled { opacity: 0.2; cursor: auto; opacity: 0; }

.slider-banner-desktop .bannerBox__slide { padding: 12rem 8rem 1rem; }

/* ### tab Box ### */
.tabBox { margin: -13.5rem 0 0 0; position: relative; padding: 4rem 0rem 5rem; z-index: 1; 
    /* max-width: 1680px; */
}
.tabBox.tabBox--new { margin-top: -25rem; }
.tabBox.tabBox--new .maincardBox { display: block; }
.tabBox.tabBox--new .maincardBox__card-wrapper { max-width: 100%; height: auto; }
.tabBox__list { margin-bottom: 2rem; list-style-type: none; text-align: center; }
.tabBox__list > li { display: inline; color: #005188; font-weight: 700; font-size: 0.9375rem; }
.tabBox__list > li > a { padding: 0.375rem 1.25rem; margin: 0 1rem; font-weight: 400; min-width: 7rem; display: inline-block; text-decoration: none; color: #9D9D9D; background: rgba(255, 255, 255, 0.4); border: 1px solid rgba(0, 0, 0, 0.25); box-sizing: border-box; backdrop-filter: blur(54px); border-radius: 10px; }

/* ### content Box ### */
.contentBox { padding: 0 4rem; }
.contentBox .splide__track { overflow: visible; }
.contentBox__title { padding: 2.25rem 0; font-size: 1.125rem; color: #005188; }
.contentBox__list-wrapper { margin-bottom: 1rem; overflow: auto; }
.contentBox__list { white-space: nowrap; }
.contentBox__item-wrapper { display: flex; }
.contentBox__item { margin-bottom: 30px; display: block; cursor: pointer; position: relative; display: inline-block; white-space: normal; border-radius: 0.625rem; }
.contentBox__item:after { content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) -10.09%, rgba(0, 0, 0, 0.15) 42.08%); border-radius: 0.625rem;}
.contentBox__item-title { position: absolute; text-decoration: none; left: 0; bottom: 0; padding: 1rem; font-weight: 700; font-size: 1.125rem; line-height: 1.375rem; color: #fff; z-index: 1; }
.contentBox__item-title:hover { text-decoration: underline; }
.contentBox__item-pic { width: 100%; border-radius: 0.625rem; }
.contentBox__item-plus { position: absolute; right: 0; top: 0; font-size: 1.125rem; padding: 1rem; display: block; cursor: pointer; color: #fff; text-decoration: none; z-index: 1; }
.contentBox__item-plus:hover { color: #172c3a; }

.contentBox__item .maincardBox__card-menu { right: 1rem; top: 0.75rem; cursor: pointer; }
.contentBox__item .maincardBox__card-menu-btn { color: #fff; }
.contentBox__item .maincardBox__card-menu-dropdown { min-width: 8rem; }
.contentBox__item .maincardBox__card-menu-dropdown > li > a { font-size: 0.625rem; }

.contentBox__item .custom-slider { padding: 0 0.25rem; position: absolute; left: 0; bottom: 0; width: 100%; z-index: 1; }
.contentBox__item .custom-slider__bar { height: 6px; border-radius: 0.625rem; background: rgba(0, 0, 0, 0.4); backdrop-filter: blur(66.7059px); }
.contentBox__item .custom-slider__bar-inner { border-radius: 0.625rem; background: #2F9DDB; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
    .contentBox, 
    .slider-banner-desktop .bannerBox__slide { padding-right: 2rem; padding-left: 2rem; }
    .bannerBox__left,
    .bannerBox__right { width: 50%; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1023px) {
    .tabBox.tabBox--new .maincardBox__card-wrapper { max-width: 100%; }
    .bannerBox__center { margin-left: -150px; bottom: -220px; width: 500px; }
    .contentBox, 
    .tabBox.tabBox--new .maincardBox,
    .bannerBox__slide, 
    .slider-banner-desktop .bannerBox__slide { padding-left: 1rem; padding-right: 1rem; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .bannerBox__center { margin-left: auto; margin-right: auto; bottom: -340px; width: 320px; max-width: 375px; left: 10%; }
    .bannerBox__slide { padding: 8rem 1rem 2rem; flex-direction: column; text-align: center; }
    .bannerBox__date, .bannerBox__subtitle { display: block; }
    .bannerBox__left { padding-bottom: 0rem; order: 2; width: 100%; }
    .bannerBox__inner { min-height: 58rem; padding-bottom: 15rem; }
    .bannerBox__inner::after { height: 12.5rem; }
    .bannerBox__right { padding-bottom: 2rem; order: 1; width: 100%; }
    .splide__slide img { max-width: 23rem; }
    .contentBox__item { margin-right: 1rem; }
    .bannerBox__pic { margin: 0; }
    .tabBox { padding-top: 0; margin-top: 0; padding-bottom: 2rem; }
    .tabBox__list { display: none; }
    .slick-dotted.slick-slider { margin-bottom: 0; }
    .tabBox.tabBox--new { margin-top: -12rem; }
    .maincardBox__card.maincardBox__card--large .maincardBox__card-right { padding-right: 0; }
    .rating-block { padding: 1.5rem 0 0; margin-top: 1.5rem; position: static; width: 100%; border: none; border-top: 1px solid rgba(0, 0, 0, 0.33); }
    .slider-banner-desktop .bannerBox__slide { padding-top: 8rem; }
    .bannerBox__status { justify-content: center; }
    .bannerBox__profile { justify-content: center; text-align: left; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}