/* ### banner box ### */
#splide-banner-mobile,
#splide-banner-desktop { position: relative; z-index: 1; }
.bannerBox__inner {padding: 0; position: relative; }
.bannerBox__inner::after { content: ""; width: 100%; height: 20.625rem; position: absolute; left: 0; bottom: 0; background: url(../images/home-bg.png) center center repeat-x; background-size: auto 100%; }
.bannerBox__slide { padding: 12rem 4rem 5rem; display: flex; justify-content: space-between; position: relative; z-index: 1; }
.bannerBox__left { width: 43%; }
.bannerBox__right { padding: 0; width: 57%; }
.bannerBox__title { font-weight: bold; font-size: 2.1875rem; display: flex; align-items: center; color: #FFFFFF; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__status { display: flex; align-items: center; }
.bannerBox__status-title { padding-right: 0.5rem; font-weight: 700; font-size: 1.1875rem; color: #00A5CE; text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); }
.bannerBox__status-mark { padding: 0.5rem 1rem 0.5rem 2rem; position: relative; font-weight: 700; font-size: 0.9375rem; color: #FFFFFF; display: inline-block; backdrop-filter: blur(54px); border-radius: 0.625rem; background: #ADD1EC; }
.bannerBox__status-mark:after { position: absolute; left: 0.5rem; top: 50%; margin-top: -0.375rem; height: 0.75rem; width: 0.75rem; border-radius: 50%; content: ""; background: #EE2E2E;; }
.bannerBox__btn { font-weight: 700; font-size: 1.1875rem; }
.bannerBox__pic { margin: 0 auto; }

#splide-banner-desktop .splide__pagination__page { margin-top: 0.375rem; margin-bottom: 0.375rem; height: 12px; width: 12px; opacity: 1; background: rgba(0, 0, 0, 0.2); border-radius: 48.9796px; }
#splide-banner-desktop .splide--ttb>.splide__pagination { right: 1rem; }
#splide-banner-desktop .splide__pagination__page.is-active { height: 20px; transform: scale(1); background: #fff; }

#splide-banner-mobile .splide__pagination__page { margin-top: 0.375rem; margin-bottom: 0.375rem; height: 8px; width: 8px; opacity: 1; background: rgba(0, 0, 0, 0.2); border-radius: 48.9796px; }
#splide-banner-mobile .splide--ttb>.splide__pagination { right: 1rem; }
#splide-banner-mobile .splide__pagination__page.is-active { width: 18px; transform: scale(1); background: #fff; }

/* ### tab Box ### */
.tabBox { margin: -7.5rem 0 0; position: relative; padding-bottom: 5rem; }
.tabBox__list { margin-bottom: 2rem; list-style-type: none; text-align: center; }
.tabBox__list > li { display: inline; color: #005188; font-weight: 700; font-size: 0.9375rem; }
.tabBox__list > li > a { padding: 0.375rem 1.25rem; margin: 0 1rem; font-weight: 400; min-width: 7rem; display: inline-block; text-decoration: none; color: #9D9D9D; background: rgba(255, 255, 255, 0.4); border: 1px solid rgba(0, 0, 0, 0.25); box-sizing: border-box; backdrop-filter: blur(54px); border-radius: 10px; }

/* ### content Box ### */
.contentBox { padding: 0 4rem; }
.contentBox .splide__track { overflow: visible; }
.contentBox__title { padding: 2.25rem 0; font-size: 1.125rem; color: #005188; }
.contentBox__list-wrapper { margin-bottom: 1rem; overflow: auto; }
.contentBox__list { white-space: nowrap; }
.contentBox__item { display: block; cursor: pointer; margin-right: 2rem; position: relative; display: inline-block; white-space: normal; }
.contentBox__item-title { position: absolute; text-decoration: none; left: 0; bottom: 0; padding: 1rem; font-weight: 700; font-size: 1.125rem; line-height: 1.375rem; color: #fff; }
.contentBox__item-title:hover { text-decoration: underline; }
.contentBox__item-pic { width: 100%; border-radius: 0.625rem; }
.contentBox__item-plus { position: absolute; right: 0; top: 0; font-size: 1.125rem; padding: 1rem; display: block; cursor: pointer; color: #fff; text-decoration: none; }
.contentBox__item-plus:hover { color: #005188; }


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {

    .bannerBox__slide, 
    .contentBox { padding-left: 0; padding-right: 0; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 992px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .bannerBox__slide { padding-top: 8rem; padding-bottom: 2rem; flex-direction: column; }
    .bannerBox__left { padding-bottom: 2rem; order: 2; width: 100%; }
    .bannerBox__right { padding-bottom: 2rem; order: 1; width: 100%; }
    .splide__slide img { max-width: 23rem; }
    .contentBox__item { margin-right: 1rem; }
    .bannerBox__inner::after { height: 12.5rem; }
    .bannerBox__pic { margin: 0; }
    .tabBox { padding-top: 0; margin-top: 0; padding-bottom: 2rem; }
    .tabBox__list { display: none; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}