/* ### login box ### */
.login2Box__wrapper { display: flex; justify-content: space-between; background-repeat: no-repeat; background-size: auto 100%; }
.login2Box { padding: 2rem 4rem; overflow: auto; min-height: 100vh; min-width: 31.25rem; width: 31.25rem; background: #fff; }
.login2Box__title { font-size: 1.5625rem; font-weight: 700; color: #005188; }
.login2Box__label { padding: 4.25rem 2rem 1rem 4.5rem; width: 52.5%; background: #4F6090; border-right: 0.625rem solid #A8B8E5; }
.login2Box__label-title { font-size: 1.75rem; color: #fff; font-weight: 700; }
.login2Box__label-desc { font-size: 1.75rem; color: #fff; }
.login2Box__link { padding: 0.875rem 0; font-size: 0.75rem; color: rgba(0, 0, 0, 0.6); }
.login2Box__link > a { font-weight: 700; color: rgba(0, 0, 0, 0.6); }
.login2Box__video { padding: 0; width: 50%; position: relative; margin: 0; }
.login2Box__video > img { width: 100%; }
.login2Box__video__play { font-size: 2.325rem; position: absolute; left: 50%; top: 50%; color: #fff; display: flex; align-items: center; justify-content: center; text-decoration: none; margin-left: -3rem; margin-top: -3rem; height: 6rem; width: 6rem; border-radius: 50%; background: rgba(0, 0, 0, 0.3); backdrop-filter: blur(24px); }
.login2Box__left { padding-top: 6rem; width: 100%; }
.login2Box-text { display: flex; }

.login2Box.login2Box__small { padding-top: 11rem; position: relative; }
.login2Box.login2Box__small > .login-bg-top { position: absolute; left: 0; top: 0; width: 100%; }
.login2Box.login2Box__small > .login-bg-bottom { position: absolute; left: 0; bottom: 0; width: 100%; }



/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1199px) {
    .login2Box { padding: 4rem 3rem; margin-left: 1rem; margin-right: 0; }
    .login2Box.login2Box__small { margin: 1rem; }
    .login2Box__label, .login2Box__label.login2Box__label--bottom { padding: 2rem; margin: 0; }
    .login2Box__video { margin: 0; padding: 0; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 992px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .login2Box { background: transparent; }
    .login2Box, .login2Box.login2Box__small { padding: 2rem; min-height: auto; margin: 0; width: 100%; min-width: auto; }
    .login2Box__video { margin: 6rem 0 0rem 0; padding: 0; }
    .login2Box__wrapper.login2Box__wrapper--cover {  background-image: none !important; }
    .login2Box__wrapper { padding-top: 0; display: block; }
    .login2Box__left { position: relative; }
    .login2Box__label, .login2Box__label.login2Box__label--bottom { padding: 1rem 2rem 1rem; font-size: 1.25rem; max-width: 21rem; position: absolute; left: 0; bottom: 1.25rem; z-index: 1; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}