/* ### login box ### */
.login2Box__wrapper { display: flex; justify-content: space-between; background-repeat: no-repeat; background-size: auto 100%; }
.login2Box { padding: 2rem 4rem; overflow: auto; min-height: 100vh; min-width: 31.25rem; width: 31.25rem; background: #fff; }
.login2Box__title { font-size: 1.5625rem; font-weight: 700; color: #005188; }
.login2Box__label { padding: 4.25rem 2rem 1rem 4.5rem; width: 52.5%; background: #4F6090; border-right: 0.625rem solid #A8B8E5; }
.login2Box__label-title { font-size: 1.75rem; color: #fff; font-weight: 700; }
.login2Box__label-desc { font-size: 1.75rem; color: #fff; }
.login2Box__link { padding: 0.875rem 0; font-size: 0.75rem; color: rgba(0, 0, 0, 0.6); }
.login2Box__link > a { font-weight: 700; color: rgba(0, 0, 0, 0.6); }
.login2Box__video { padding: 0; width: 50%; position: relative; margin: 0; }
.login2Box__video > img { width: 100%; }
.login2Box__video__play { font-size: 2.325rem; position: absolute; left: 50%; top: 50%; color: #fff; display: flex; align-items: center; justify-content: center; text-decoration: none; margin-left: -3rem; margin-top: -3rem; height: 6rem; width: 6rem; border-radius: 50%; background: rgba(0, 0, 0, 0.3); backdrop-filter: blur(24px); }
.login2Box__left { padding-top: 6rem; width: 100%; }
.login2Box-text { display: flex; }

.login2Box.login2Box__small { padding-top: 11rem; padding-bottom: 11rem; position: relative; }
.login2Box.login2Box__small > .login-bg-top { position: absolute; left: 0; top: 0; width: 100%; }
.login2Box.login2Box__small > .login-bg-bottom { position: absolute; left: 0; bottom: 0; width: 100%; }

.mobile-tabs { padding: 0 2rem; display: none; list-style-type: none; border-bottom: 1px solid #CBCBCB; }
.mobile-tabs li { width: 50%; }
.mobile-tabs li.active a, .mobile-tabs li a.active { color: #005188; }
.mobile-tabs li.active a span, 
.mobile-tabs li a.active span { border-color:#005188; }
.mobile-tabs li a { padding: 0 1.5rem; display: block; text-align: center; font-weight: 700; color: #B7B7B7; text-decoration: none; background: #fff; }
.mobile-tabs li a span { padding: 1.5rem 0 1.25rem; display: inline-block; border-bottom: 0.25rem solid transparent; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1199px) {
    .login2Box { margin: 0 auto; min-height: auto; }
    .login2Box__label, .login2Box__label.login2Box__label--bottom { padding: 2rem 1rem 1rem 4.5rem; margin: 0; }
    .login2Box__label-desc,
    .login2Box__label-title { font-size: 1.5rem; }
    .login2Box__video { margin: 0; padding: 0; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1023px) {
    .login2Box__title { display: none; }
    .login2Box { width: 100%; }
    .login2Box__wrapper { display: block; background: #fff; }
    .login2Box__label { display: none; }
    .login2Box__video { width: 100%; }
    .login2Box.login2Box__small > .login-bg-top,
    .login2Box.login2Box__small > .login-bg-bottom { display: none; }
    .mobile-tabs { display: flex; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .login2Box { padding: 2rem; }
    .login2Box.login2Box__small { padding-top: 4rem; padding-bottom: 4rem; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 1024px) {
    .login2Box, 
    .maincardBox { display: block !important; }
}