/* ### partner Box ### */
.partnerBox { display: flex; flex-wrap: wrap; }
.partnerBox__item { margin: 1rem 0rem 3rem; transition: all 0.3s; opacity: 0.2; width: 22.125rem; display: flex; flex-direction: column; border-radius: 0.625rem; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); background: #fff; }
.slick-center .partnerBox__item { opacity: 1; transform: scale(1.5); z-index: 11; position: relative; }
.partnerBox__item-pic { width: 100%; }
.partnerBox__item-pic > img { width: 100%;}
.partnerBox__item-text { padding: 1rem 1rem 0.5rem 1rem; position: relative; }
.partnerBox__item-title { font-size: 0.75rem; font-weight: 700; color: #005188; }
.partnerBox__item-desc { font-size: 0.75rem; font-weight: 400;  color: rgba(0, 0, 0, 0.6); }
.partnerBox__item-action { padding: 1rem 0.5rem; position: relative; right: 0; top: 0; }
.partnerBox__item-action .btn { padding-right: 1rem; padding-left: 1rem; border-radius: 1.5rem; min-width: auto; }

.partnerBox .slick-list { padding-top: 100px !important; padding-bottom: 100px !important; }
.partnerBox .slick-dots li { width: auto; }
.partnerBox .slick-dots li button { margin: 0; transition: all 0.3s; margin-bottom: 0.375rem; height: 10px; width: 10px; opacity: 1; background: rgba(8, 105, 168, 0.73); border: 2px solid rgba(8, 105, 168, 0.73); border-radius: 1rem; }
.partnerBox .slick-dots li.slick-active button { width: 30px; transform: scale(1); background: #fff; }
.partnerBox .slick-dots li button:before { display: none; }

.partnerBox .slider-btn { padding: 2rem; position: absolute; left: 1rem; font-size: 3rem; color: #0869A8; top: 45%; margin-top: -3.5rem; z-index: 1; }
.partnerBox .slider-btn:hover { opacity: 0.8; }
.partnerBox .slider-btn.slider-btn-next { left: auto; right: 1rem; }
.partnerBox .slider-btn.slick-disabled { opacity: 0.2; cursor: auto; opacity: 0; }

.partnerBox__item 
.btn:disabled{
    color: #005188a1!important;
    border-color: #005188a1!important;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1023px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .partnerBox .slick-list { padding: 0 !important; }
    .partnerBox__item { margin: 1rem 3rem 3rem; transform: scale(0.8);}
    .slick-center .partnerBox__item { transform: scale(1); }
    .partnerBox .slider-btn { display: none !important; }
    .partnerBox .slick-dots { bottom: 0; }
    
.slick-center .partnerBox__item { opacity: 1; transform: scale(1); z-index: 11; position: relative; }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}