@import url("/src/assets/css/header2.css");
@import url("/src/assets/css/login2.css");
@import url("/src/assets/css/fix.css");

#sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign-in img{
    width: 2rem;
}
