.certificateContainer {
    position: relative;
    z-index: 2;
    height: 100%;
    width: fit-content;
    margin: auto;
}

.certificateContainer>img {
    height: 100%;
    width: auto;
}

.your_name {
    font-style: italic;
    position: absolute;
    bottom: 53.7%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: calc((75vw * 0.6)/20);
    color: #3e3e3f;
}

.certDownload {
    position: absolute;
    transform: scale(0.75);
    bottom: 1.5rem;
    /* bottom: 10%; */
    left: calc(50% - 5rem);
}

@media only screen and (orientation: landscape) {
    .your_name {
        bottom: 34%;
        font-size: calc((75vw * 0.6)/20);
    }
}

@media only screen and (orientation: landscape) and (max-width: 990px) {
    .certDownload {
        transform: scale(0.5);
        bottom: 1.25rem;
    }
}

@media only screen and (orientation: portrait) and (max-width: 990px) {
    .certDownload {
        bottom: 0;
        margin-top: 1rem;
        position: inherit;
        left: calc(50% - 5rem);
    }
    .your_name {
        bottom: 34%;/*46.7%;*/
    }
}
