/* ### header box ### */
.headerBox { padding: 3rem 4.5rem; position: fixed; left: 0; top: 0; width: 100%; }
.headerBox { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 992px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
}