.addToCalendar{
    position: relative;
}

.bannerBox__btn:focus {
    outline: none;
}

.dropdownStyles {
    position: absolute;
    border: none;
    width: 100%;
    margin: 0 auto;
    background: white;
    z-index: 6;
}

.linkStyles {
    text-decoration: none;
    display: block;
    color: #015189;
    font-size: 1.15rem;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 0.15rem solid #015189;
}

.linkStyles:hover{
    background: #015189;
    color: white;
}