.newsCard__container {
  margin-top: 2rem;
  background: #252525;
  border-radius: 10px;
  min-height: 330px;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content max-content 1fr max-content;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-sizing: border-box;
}

.upperContainer {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 1.2rem;
  box-sizing: border-box;
}
.date {
  font-size: 0.8rem;
  grid-area: 2 / 1 / 3 / 3;
}
.description {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  grid-area: 3 / 1 / 4 / 3;
}
.readMore__Btn {
  margin-top: 1.5rem;
  color: #93d8ff;
  cursor: pointer;
  width: max-content;
}
.readMore__Btn:hover {
  text-decoration: underline;
}
.shareBtn {
  grid-area: 4 / 1 / 5 / 2;
}
.shareBtn > .shareBtn__container {
  background: rgba(57, 57, 57, 0.7);
  border-radius: 20px;
  min-width: 110px;
  max-width: max-content;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.shareBtn__container__icon {
  margin-top: 0.2rem;
}
.source {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  grid-area: 4 / 2 / 5 / 3;
  justify-self: flex-end;
  align-self: center;
}

.upperContainer > .title {
  padding-right: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  grid-area: 1 / 1 / 2 / 2;
}
.upperContainer > .image {
  grid-area: 1 / 2 / 2 / 3;
  width: 89.32px;
  height: 72px;
}
.upperContainer > .image > img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 991px) and (orientation: portrait) {
  .newsCard__container {
    padding: 0;
    background: none;
    min-height: 260px;
    border-radius: 0;
    padding-top: 1.2rem;
    border-top: 0.659868px solid #474747;
  }
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
  .newsCard__container {
    min-height: 260px;
  }
  .upperContainer > .image {
    width: 65.87px;
    height: 53.1px;
  }
}
