.bg-b {
  background: black !important;
}

.flexBoxC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_news_banner_container {
  /* max-width: 100%; */
}
.newsMainBannersub1 {
  font-size: 3rem !important;
  font-weight: 900 !important;
}
.newsMainBanner {
  font-size: 2rem !important;
}
.newsBannerFontWt {
  font-weight: 900 !important;
}
@media screen and (max-width: 768px) {
  .newsMainBannersub1 {
    font-size: 2.5rem !important;
  }
  .newsMainBanner {
    font-size: 1.5rem !important;
  }
}
