.headerBox_sticky {
    padding: 1.125rem 9.25rem 1.125rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 8px 3px #4a4a4a85;
    background: linear-gradient( 90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.733924) 72.82%, rgba(255, 255, 255, 0) 129.25%)!important;
}

.notification_indicator {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fc6145;
    top: 0rem;
    right: 0rem;
}